:root {
    --background-color: #FFFFFF;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.03em;
    color: #4d5ae5;
}

.header-logo {
    color: #2e2f42
}

.list {
    list-style: none;
    font-weight: 500;
}

.list-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-decoration: none;
}

.list .list-item:focus , .list .list-item:hover {
    color: #404bbf;
}

.address-items {
    font-style: normal;
}

.address-items .list-address-item{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-decoration: none;
}

.address-items .list-address-item:focus , .address-items .list-address-item:hover {
    color: #404bbf;
}

.hero-section {
    background: #2e2f42;
}

.text-header {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
}

.order-button{
    background-color: #4D5AE5;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color:  #ffffff;   
    cursor: pointer;
}

.order-button:focus,  .order-button:hover{
    background-color: #404BBF;
}

.section-header{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.section-text{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#434455;
    text-decoration: none;
}

.section-three-header{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
}

.team-section{
    background-color: #F4F4FD;
}

.section-our-team-header {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}

.list-item-team{
    background-color: #FFFFFF
}


.footer-section {
    background-color: #2e2f42;
}

.footer-logo{
    color: #f4f4fd;
}

.footer-text {
    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em;
}

.portfolio-button {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color:#4d5ae5;
    background-color: #F4F4FD;
    cursor: pointer;
}

.portfolio-link{
    text-decoration: none;
}

.portfolio-button:hover {
    color: #FFFFFF;
}

.portfolio-button:focus, portfolio-button:active{
    color: #FFFFFF;
    background-color: #404BBF;
}

.header-second-list {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

